@font-face {
    font-family: 'HelveticaNeueCyrItalic';
    src: url('fonts/HelveticaNeueCyrItalic.eot');
    src: url('fonts/HelveticaNeueCyrItalic.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeueCyrItalic.woff2') format('woff2'),
         url('fonts/HelveticaNeueCyrItalic.woff') format('woff'),
         url('fonts/HelveticaNeueCyrItalic.ttf') format('truetype'),
         url('fonts/HelveticaNeueCyrItalic.svg#HelveticaNeueCyrItalic') format('svg');
}
