section#alexs_reveiws
    .container
        h3.subtitle Отзывы 
        h4.after_subtitle об обучении у Адександра Кудряшова
        .owl-carousel.owl-theme#alexs_videos
            .video_wrapper(data-youtube="wbenZZHTc0I")
                img(src="img/alexs_reveiws/video_1.jpg", alt="Отзыв об Александре Кудряшове 1")
            .video_wrapper(data-youtube="eDOyFV9IC2g")
                img(src="img/alexs_reveiws/video_2.jpg", alt="Отзыв об Александре Кудряшове 2")
            .video_wrapper(data-youtube="OOGuOKv7-M4")
                img(src="img/alexs_reveiws/video_3.jpg", alt="Отзыв об Александре Кудряшове 3")
            .video_wrapper(data-youtube="VxSmLPvIzM0")
                img(src="img/alexs_reveiws/video_4.jpg", alt="Отзыв об Александре Кудряшове 4")
            .video_wrapper(data-youtube="bcTY51PgQK8")
                img(src="img/alexs_reveiws/video_5.jpg", alt="Отзыв об Александре Кудряшове 5")
            .video_wrapper(data-youtube="bXQDxiGdm2s")
                img(src="img/alexs_reveiws/video_6.jpg", alt="Отзыв об Александре Кудряшове 6")
            .video_wrapper(data-youtube="RNVQPK17QPs")
                img(src="img/alexs_reveiws/video_7.jpg", alt="Отзыв об Александре Кудряшове 7")
        .owl-carousel.owl-theme#alexs_texts
            a(href="img/alexs_reveiws/text_1.jpg" data-fancybox="alexs_texts")
                img(src="img/alexs_reveiws/text_1.jpg", alt="Отзыв об Александре Кудряшове 1")
            a(href="img/alexs_reveiws/text_2.jpg" data-fancybox="alexs_texts")
                img(src="img/alexs_reveiws/text_2.jpg", alt="Отзыв об Александре Кудряшове 2")
            a(href="img/alexs_reveiws/text_3.jpg" data-fancybox="alexs_texts")
                img(src="img/alexs_reveiws/text_3.jpg", alt="Отзыв об Александре Кудряшове 3")
            a(href="img/alexs_reveiws/text_4.jpg" data-fancybox="alexs_texts")
                img(src="img/alexs_reveiws/text_4.jpg", alt="Отзыв об Александре Кудряшове 4")
            a(href="img/alexs_reveiws/text_5.jpg" data-fancybox="alexs_texts")
                img(src="img/alexs_reveiws/text_5.jpg", alt="Отзыв об Александре Кудряшове 5")
            a(href="img/alexs_reveiws/text_6.jpg" data-fancybox="alexs_texts")
                img(src="img/alexs_reveiws/text_6.jpg", alt="Отзыв об Александре Кудряшове 6")