section#coaches
    .container
        h3.subtitle.subtitle_black О тренерах:
        h4.after_subtitle.after_subtitle_black Жанна Абрамова и Александр Кудряшов
        .row
            .col-md-6.jannas_col
                img(src="img/janna.png", alt="Жанна Абрамова")#janna
            .col-md-6
                .janna_about
                    h5.coach_about_subtitle Жанна Абрамова
                    p.coach_about_descript Жанна Абрамова - 
                        span мастер 
                        | практической психологии и технологий осознанности, 
                        span коуч, системный расстановщик, процессор 
                        | техники РПТ, 
                        span специалист 
                        | по метафорическим картам, 
                        span эксперт 
                        | TV-радио-шоу, информационных передач, 
                        span блоггер, автор 
                        | тренинговых программ и книг по женской психологии
                    p.coach_about_descript Жанна 
                        span более 10 лет 
                        | работает с женщинами и является экспертом в области отношений между мужчиной и женщиной. Также, постоянно занимается работой с детьми и социальными проектами
                    ul.coach_about_list.jannas_list
                        li 
                            span Основатель 
                            | «Академии Семьи и Брака»
                        li 
                            span Мастер практической психологии, 
                            | факультет клинической психологии Академии при президенте РФ РАНХиГС
                        li Специалист по метафорическим картам 
                            span (МАК)
                        li 
                            span Системный расстановщик, 
                            | изучала семейную психотерапию в ИИСТ
                        li Процессор Техники РПТ (Саймон Роуз) , Тетахилинга (THInK)
                        li Изучала 
                            span гипнотерапию, 
                            | Московский институт гипноза
                        li Коуч, женский тренер, автор трансформационных программ «Анатомия Отношений», «Управление реальностью», «Мышление будущего», «От перца к сердцу», «Как получать подарки», «МАК – сам себе доктор», «Замуж за 2 недели», «Деньги в голове», «Дуэль с ленью», «Возврат ваших вложений», «Третий лишний или как устранить соперницу»
    #jannas_certs
        .container
            .owl-carousel.owl-theme#certificats
                a(href="img/certs/cert_1.jpg" data-fancybox="certs")
                    img(src="img/certs/cert_1_min.jpg", alt="Сертификат 1")
                a(href="img/certs/cert_2.jpg" data-fancybox="certs")
                    img(src="img/certs/cert_2_min.jpg", alt="Сертификат 2")
                a(href="img/certs/cert_3.jpg" data-fancybox="certs")
                    img(src="img/certs/cert_3_min.jpg", alt="Сертификат 3")
                a(href="img/certs/cert_4.jpg" data-fancybox="certs")
                    img(src="img/certs/cert_4_min.jpg", alt="Сертификат 4")
                a(href="img/certs/cert_5.jpg" data-fancybox="certs")
                    img(src="img/certs/cert_5_min.jpg", alt="Сертификат 5")
                a(href="img/certs/cert_6.jpg" data-fancybox="certs")
                    img(src="img/certs/cert_6_min.jpg", alt="Сертификат 6")
                a(href="img/certs/cert_7.jpg" data-fancybox="certs")
                    img(src="img/certs/cert_7_min.jpg", alt="Сертификат 7")
                a(href="img/certs/cert_8.jpg" data-fancybox="certs")
                    img(src="img/certs/cert_8_min.jpg", alt="Сертификат 8")
                a(href="img/certs/cert_9.jpg" data-fancybox="certs")
                    img(src="img/certs/cert_9_min.jpg", alt="Сертификат 9")
                a(href="img/certs/cert_10.jpg" data-fancybox="certs")
                    img(src="img/certs/cert_10_min.jpg", alt="Сертификат 10")
                a(href="img/certs/cert_11.jpg" data-fancybox="certs")
                    img(src="img/certs/cert_11_min.jpg", alt="Сертификат 11")
    .container
        .row
            .col-md-6.alex_col
                img(src="img/alex.png", alt="Александр Кудряшов")
            .col-md-6
                .alex_about
                    h5.coach_about_subtitle Александр Кудряшов
                    ul.coach_about_list.alexs_list
                        li 
                            span Специалист 
                            | Дистанционного видения (Вьювер)
                        li Почетный 
                            span парапсихолог 
                            | России
                        li 
                            span Расстановщик 
                            | по методу Берта Хеллингера и Зиглинды Шнайдер
                        li 
                            span Мастер 
                            | по работе с детскими и родовыми травмами
                    .coach_about_descript   
                        span Более 1000 человек 
                        | на личной консультации избавил от страхов, фобий, зажимов, дискомфортов и других проблем, которые мешали им идти к успеху!
