section#jannas_reveiws
    .container
        h3.subtitle Отзывы 
        h4.after_subtitle об обучении у Жанны Абрамовой
        .owl-carousel.owl-theme#jannas_videos
            .video_wrapper(data-youtube="R5TzDRh_0wo")
                img(src="img/jannas_reveiws/video_1.jpg", alt="Отзыв о Жанне Абрамовой 1")
            .video_wrapper(data-youtube="0kVF73Zl2Vg")
                img(src="img/jannas_reveiws/video_2.jpg", alt="Отзыв о Жанне Абрамовой 2")
            .video_wrapper(data-youtube="ZYj9aA7leys")
                img(src="img/jannas_reveiws/video_3.jpg", alt="Отзыв о Жанне Абрамовой 3")
            .video_wrapper(data-youtube="5SpyXav8M8M")
                img(src="img/jannas_reveiws/video_4.jpg", alt="Отзыв о Жанне Абрамовой 4")
            .video_wrapper(data-youtube="tGSb4qLgGgM")
                img(src="img/jannas_reveiws/video_5.jpg", alt="Отзыв о Жанне Абрамовой 5")
            .video_wrapper(data-youtube="VjuPEjRgWt0")
                img(src="img/jannas_reveiws/video_6.jpg", alt="Отзыв о Жанне Абрамовой 6")
            .video_wrapper(data-youtube="YE9_dU9n4hI")
                img(src="img/jannas_reveiws/video_7.jpg", alt="Отзыв о Жанне Абрамовой 7")
            .video_wrapper(data-youtube="Jc7Q1ksCYow")
                img(src="img/jannas_reveiws/video_8.jpg", alt="Отзыв о Жанне Абрамовой 8")
            .video_wrapper(data-youtube="jt5DAatjgug")
                img(src="img/jannas_reveiws/video_9.jpg", alt="Отзыв о Жанне Абрамовой 9")
        .owl-carousel.owl-theme#jannas_texts
            a(href="img/jannas_reveiws/text_5.jpg" data-fancybox="jannas_texts")
                img(src="img/jannas_reveiws/text_5.jpg", alt="Отзыв о Жанне Абрамовой 5")
            a(href="img/jannas_reveiws/text_1.jpg" data-fancybox="jannas_texts")
                img(src="img/jannas_reveiws/text_1.jpg", alt="Отзыв о Жанне Абрамовой 1")
            a(href="img/jannas_reveiws/text_2.jpg" data-fancybox="jannas_texts")
                img(src="img/jannas_reveiws/text_2.jpg", alt="Отзыв о Жанне Абрамовой 2")
            a(href="img/jannas_reveiws/text_3.jpg" data-fancybox="jannas_texts")
                img(src="img/jannas_reveiws/text_3.jpg", alt="Отзыв о Жанне Абрамовой 3")
            a(href="img/jannas_reveiws/text_4.jpg" data-fancybox="jannas_texts")
                img(src="img/jannas_reveiws/text_4.jpg", alt="Отзыв о Жанне Абрамовой 4")
            a(href="img/jannas_reveiws/text_6.jpg" data-fancybox="jannas_texts")
                img(src="img/jannas_reveiws/text_6.jpg", alt="Отзыв о Жанне Абрамовой 6")
            a(href="img/jannas_reveiws/text_7.jpg" data-fancybox="jannas_texts")
                img(src="img/jannas_reveiws/text_7.jpg", alt="Отзыв о Жанне Абрамовой 7")
            a(href="img/jannas_reveiws/text_8.jpg" data-fancybox="jannas_texts")
                img(src="img/jannas_reveiws/text_8.jpg", alt="Отзыв о Жанне Абрамовой 8")
            a(href="img/jannas_reveiws/text_9.jpg" data-fancybox="jannas_texts")
                img(src="img/jannas_reveiws/text_9.jpg", alt="Отзыв о Жанне Абрамовой 9")
            a(href="img/jannas_reveiws/text_10.jpg" data-fancybox="jannas_texts")
                img(src="img/jannas_reveiws/text_10.jpg", alt="Отзыв о Жанне Абрамовой 10")
            a(href="img/jannas_reveiws/text_11.jpg" data-fancybox="jannas_texts")
                img(src="img/jannas_reveiws/text_11.jpg", alt="Отзыв о Жанне Абрамовой 11")
            a(href="img/jannas_reveiws/text_12.jpg" data-fancybox="jannas_texts")
                img(src="img/jannas_reveiws/text_12.jpg", alt="Отзыв о Жанне Абрамовой 12")
            a(href="img/jannas_reveiws/text_13.jpg" data-fancybox="jannas_texts")
                img(src="img/jannas_reveiws/text_13.jpg", alt="Отзыв о Жанне Абрамовой 13")
            a(href="img/jannas_reveiws/text_14.jpg" data-fancybox="jannas_texts")
                img(src="img/jannas_reveiws/text_14.jpg", alt="Отзыв о Жанне Абрамовой 14")
            a(href="img/jannas_reveiws/text_15.jpg" data-fancybox="jannas_texts")
                img(src="img/jannas_reveiws/text_15.jpg", alt="Отзыв о Жанне Абрамовой 15")
            a(href="img/jannas_reveiws/text_16.jpg" data-fancybox="jannas_texts")
                img(src="img/jannas_reveiws/text_16.jpg", alt="Отзыв о Жанне Абрамовой 16")