section#main_section
    .container
        include header
        .pre Активационный интенсив
        h1 «Гав*о и 
            span слезы
            | »
        h2 Начало 
            span активационного интенсива
        p.date_start 6 сентября
        h3.autors_title Авторы:
        p.autors Александр Кудряшов 
            span и Жанна Абрамова
        a(href="#prices").button.button_main Участвовать
        img(src="img/alex_main.png", alt="Александр Кудряшов")#alex_main
        img(src="img/janna_main.png", alt="Жанна Абрамова")#janna_main