section#plan
    .container
        h3.subtitle.subtitle_black Как Вы проживете эти пять дней?
        h4.after_subtitle.after_subtitle_black План интенсива
        #plan_container
            .day.day_first
                .day_title
                    .day_img.day_img_first
                    .day_title_container
                        h4.day_inner_title 1 день
                        h5.day_inner_subtitle Заезд
                    .day_toggle
                        p.day_toggle_trigger Смотреть программу
                .day_body
                    ul.day_list
                        li
                            span Обед
                        li
                            span Расселение
                        li
                            span Отдых
                        li
                            span Ужин
                        li
                            span Знакомство с нами - тренерами, с участниками, сбор ваших персональных запросов. Ведь мы работаем на выездных тренингах только индивидуально.
                        li
                            span Сон
            .day.day_second
                .day_title
                    .day_img.day_img_second
                    .day_title_container
                        h4.day_inner_title 2 день
                        h5.day_inner_subtitle Кто Я -  личность, которую знают, воспринимают и которой отдают взамен соответствующей монетой
                    .day_toggle
                        p.day_toggle_trigger Смотреть программу
                .day_body
                    ul.day_list
                        li
                            span Личность человека. Будем разбирать вашу точку сборки. То есть вытащим на поверхность все то, из чего вы «собраны» . Придется столкнуться со своим неизведанным «Я». Это самая болезненная часть тренинга. Но иначе не добраться до истинного себя, не узнав, что за червь точит изнутри и не дает двигаться к успеху, счастью, деньгам
                        li
                            span Индивидуальность. Каждый из вас индивидуален по своему созданию. На этом этапе нам необходимо познакомить вас со своей миссией и предназначением вашей души.
                        li
                            span Варианты презентации себя с учетом индивидуальности. Это то, как вы отражаетесь в глазах других. Вы, наконец-то, узнаете, почему люди относятся к вам так, как относятся. Разберем что вы транслируете миру, и чем мир вам отплачивает.
                        li
                            span Навыки распределение временного и финансового ресурса. Посмотрим куда сливается ваша энергия и ваши ресурсы. Узнаем куда утекают ваши возможности, и кто «питается» за счет вашего потенциала. 
                        li
                            span Упражнения в зале, индивидуальная работа вне зала, расстановки, групповое РПТ, техники на выявление родовых блоков и ресурсов.
                        li
                            span Вечерний 
                                span.coach_bonus бонус 
                                | с тренером (индивидуальная работа по запросу)
            .day.day_third
                .day_title
                    .day_img.day_img_third
                    .day_title_container
                        h4.day_inner_title 3 день
                        h5.day_inner_subtitle Мастерство создания и развития отношений
                    .day_toggle
                        p.day_toggle_trigger Смотреть программу
                .day_body
                    ul.day_list
                        li
                            span Система отношений «Мужчина-Женщина», мужская и женская территория в отношениях. Это важно как для женщин, так  для мужчин. Ведь то, как нас воспитали родители (мужчина и женщина) влияет на всю нашу жизнь, именно по данному сценарию мы строим свою личную жизнь.
                        li
                            span Выявление существующего сценария «Мои отношения». Выявляем ваши стратегии и сценарии, по которым вы строите свои взаимоотношения с партнерами. Прорабатываем стратегии родовых кармических задач в отношениях.
                        li
                            span Формирование счастливого сценария отношений
                        li
                            span Игры, в  которые мы играем с людьми. Манипуляции со стороны партнеров. Работаем с антиманипуляционными схемами.
                        li
                            span Профилактика измен в паре. Измены не только от наших партнеров, но и предательства от людей в целом
                        li
                            span То, как вижу себя я в отношениях и то, как видят меня другие люди – техники «Зеркало». Учимся зеркалить «правильно». Работа в зале
                        li
                            span Вечерний 
                                span.coach_bonus бонус 
                                | с тренером
            .day.day_fourth
                .day_title
                    .day_img.day_img_fourth
                    .day_title_container
                        h4.day_inner_title 4 день
                        h5.day_inner_subtitle Финансовое изобилие
                    .day_toggle
                        p.day_toggle_trigger Смотреть программу
                .day_body
                    ul.day_list
                        li
                            span Деньги: навыки формирования новых источников, управления существующими
                        li
                            span Личные границы – целостность, расширение, комфортное взаимодействие с другими людьми
                        li
                            span Психологический финансовый  вампиризм. Ищем свой источник доходов, который у нас забирают внутренние и внешние «вампиры»
                        li
                            span Выявление существующей жизненной позиции, что в ней может блокировать финансовое изобилие. Мощная проработка финансовых блоков и препятствий через МАК, расстановки, гипноз 
                        li
                            span Упражнения в группе, индивидуальные задания
                        li
                            span Игра на день – «финансовый блок». Играем в игру про деньги. Через игру вытаскиваем деструктивные финансовые стратегии  трансформируем их в деньгоприносящие 
                        li
                            span Вечерний 
                                span.coach_bonus бонус 
                                | с тренером. Персональные расстановки на деньги
            .day.day_fifth
                .day_title
                    .day_img.day_img_fifth
                    .day_title_container
                        h4.day_inner_title 5 день
                        h5.day_inner_subtitle «Ваша цена на рынке»
                            br
                            | Истинный «Я»
                    .day_toggle
                        p.day_toggle_trigger Смотреть программу
                .day_body
                    ul.day_list.day_list_fifth
                        li
                            span Лидерский курс. Упражнения вне зала на самоценность. (веревочный курс)
                        li
                            span Существующая зависимость от денег/других людей
                        li
                            span Получение и трата денег – выявление возможного дисбаланса, способы устранения
                        li
                            span Игра «Эффективная продажа»
                        li
                            span Процесс «Я стою дорого»
                        li
                            span Большой групповой процесс в зале, индивидуальное упражнение вне зала
                        li
                            span Вечерний 
                                span.coach_bonus бонус 
                                | с тренером
                    ul.day_list
                        li
                            span Практики «Я хочу». Работаем с запретами и убеждениями, блокирующими желания и достижения
                        li
                            span Эффективная работа с подсознанием (РПТ, гипноз)
                        li
                            span Процесс «Перерождение»
                        li
                            span Душа, ее миссия, мой жизненный путь
                        li
                            span Процесс обмена энергией – баланс «давать-брать», источники и способы                        li
                            span восполнения энергии
                        li
                            span Процесс «Кто Ты?»
                        li
                            span Вечерний 
                                span.coach_bonus бонус 
                                | с тренером