section#why
    .container
        .row
            .col-md-6.col-sm-6
                h3.subtitle Почему...?
                h4.after_subtitle Коротко об интенсиве
            .col-md-6.col-sm-6
                .reason
                    h5.reason_title ...“Активационный”?
                    p.reason_descript Вы активируете состояние своего 
                        span истинного «Я», 
                        | с нашей помощью найдете в себе тот самый переключатель к  жизни  в потоке, 
                        span здоровье, роскоши и достатке
                .reason
                    h5.reason_title ...“Интенсив”?
                    p.reason_descript Мы, ведущие,  
                        span Жанна Абрамова 
                        | и 
                        span Александр Кудряшов 
                        | делаем это эффективно, интенсивно и, как мы любим, со слезами и радостью достатке
                .reason
                    h5.reason_title ...“Гав*о и слезы”?
                    p.reason_descript Мы убеждены, что люди могут достичь воссоединения с собой только после прочистки всего хлама, которым засорили его в течении жизни. А слезы – это слезы боли, разочарования, обид, которые мы носим в себе и никак не можем избавиться без посторонней помощи
                    p.reason_descript 
                        span Пять  дней 
                        | на активацию Вашего жизненного потенциала, на развитие позволения быть самим собой! 
                        span Ох, что вас ждет! 
                        | Вы даже не представляете с какими внутренними демонами вам придется столкнуться! Ну, ничего, нам не впервой, а вы, уверены, испытаете лучший опыт своей жизни по «дренажу» своей души и тела
    #prices
        p.price.price_full Стоимость участия: 
            span 60 000р.
        p.price.price_sale Скидка: 
            span#sale 10 000р.
        p.price.price_today Стоимость сегодня: 
            span#today 50 000р.
        h5.right_now Записывайтесь прямо сейчас!
        a.button(href="" target="_blank" onclick="return false")#link Записаться
        p.prepay Вмнести предоплату 5 000р
        a.button.button_prepay(href="" target="_blank" onclick="return false") Внести предорлату
        .timer
            h4 До сгорания скидки осталось:
            .clock
            .clock-alert