#coaches
    width 100%
    padding 322px 0 126px
    background-image url(../img/coaches_bg.jpg)
    background-repeat no-repeat
    background-position center top
    background-attachment fixed
    background-size: cover
.janna_about
    margin-top: 65px
.jannas_col
    float: right
    margin-top: 18px
.coach_about_subtitle
    font-size: 24px;
    font-family: "HelveticaNeueCyrBlack",sans-serif;
    font-weight: normal
    color: rgb(27, 27, 31);
    line-height: 1.23
    margin-bottom: 29px

.coach_about_descript
    font-size: 16px;
    font-family: "HelveticaNeueCyrRoman", sans-serif;
    color: rgb(11, 11, 11);
    line-height: 1.563;
    margin-bottom: 15px
    span
        font-family: "HelveticaNeueCyrBlack",sans-serif;
.coach_about_list
    list-style none
    margin-top: 29px
    li
        font-size: 16px;
        font-family: "HelveticaNeueCyrRoman", sans-serif;
        color: rgb(11, 11, 11);
        line-height: 1.563;
        margin-bottom: 13px
        padding-left: 39px
        background-repeat no-repeat
        background-position 0 7px
        span
            font-family: "HelveticaNeueCyrBlack",sans-serif;
.jannas_list
    li
        background-image url(../img/red_dot.png)
#jannas_certs
    padding 29px 0
    margin 25px 0 12px
    background-color: rgba(#1c1f24, .4)
#certificats
    img
        height: 113px
        width: auto
        display block
        margin 0 auto
        border-radius: 5px;
        background-color: rgb(252, 69, 94);
        box-shadow: 0px 0px 7px 0px rgba(11, 11, 10, 0.6);
.owl-nav
    position: absolute
    top: 12%;
    left: -11px;
    right: 0;
    height: 0;
    width: 102%;
    margin-top: 0
.owl-theme .owl-nav [class*="owl-"]
    background: rgb(237, 201, 44);
    border-radius: 50%;
    box-shadow: 0px 0px 7px 0px rgba(11, 11, 10, 0.6);
    top: 5833px;
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-size: 24px
    text-align: center
    color #242323
    &:hover
        background: #d7b005
        color #242323
.owl-prev
    float left
.owl-next
    float: right
// .alex_col
//     margin-top: 20px
.alex_about
    margin-top: 201px
    padding-left: 65px
.alexs_list
    margin: 41px 0 29px
    li
        background-image url(../img/black_dot.png)
        padding-left: 43px