#footer
    padding: 37px 0 33px
    text-align: center
    background-color: rgb(27, 30, 35);
    h5
        font-size: 24px;
        color: rgb(255, 252, 252);
        line-height: 1.042;
        margin 0
        font-family: 'HelveticaNeueCyrBlack', sans-serif;
        font-weight: normal
    p
    #conditions
        font-size: 14px;
        font-family: 'HelveticaNeueCyrRoman', sans-serif;
        color: rgb(254, 254, 254);
        line-height: 1.786;
    #conditions
        margin 15px 0 0
        text-decoration: underline
.soc_buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 20px 13px
		position relative
		z-index: 1
		.fa
			width: 30px;
			height: 30px;
			background-color #edc92c
			color #060404
			font-size 20px
			line-height 30px
			border-radius 50%
			&:hover
				background-color #d7b005
				color: #060404