#main_section
	overflow hidden
	background-image url(../img/body_bg.jpg)
	background-repeat no-repeat
	background-position: center top
	background-attachment fixed
	background-size: cover
	width 100%
	text-align: center
	.container
		position relative
		z-index 9
#header
	padding: 26px 0 20px
	overflow hidden
	z-index: 9
	position relative
	margin-bottom: 66px
#logo
	float: left
	// line-height: 16px
.contacts
	float: right
	text-align: right
	line-height  12px
	a
		font-size: 10px
		.fa
			color: #e7bf19
			font-size: 18px
			margin: 0 11px 0 28px
			line-height: 12px
		.fa+span
			line-height: 12px
			font-size: 16px;
			font-family: 'HelveticaNeueCyrRoman', sans-serif;
			color: rgba(#1b1b1f, .8)
			text-align: right;
			&:hover
				text-decoration underline
.tel:first-child
	.fa-phone
		margin-left: 0
.pre
	font-size: 24px;
	font-family: "HelveticaNeueCyrBold",sans-serif;
	color: rgb(27, 27, 31);
	line-height: 1.3;
h1
	font-size: 61px;
	font-family: "HelveticaNeueCyrBold", sans-serif;
	color: rgb(161, 29, 56);
	line-height: 1.111;
	margin 5px 0 56px
	span
		font-family: 'RosaMarena', cursive
		font-size: 98px;
		color: rgb(161, 29, 56);
		line-height: 0.69;
h2
	font-size: 18px;
	font-family: "HelveticaNeueCyrBold",sans-serif;
	color: rgb(27, 27, 31);
	text-transform: uppercase;
	line-height: 1.4;
	font-weight: normal
	margin 0 0 19px
	span
		font-family: "HelveticaNeueCyrRoman",sans-serif;
		display block
.date_start
	background-color: rgba(28, 31, 36, .4);
	width: 383px;
	height: 35px;
	line-height: 35px;
	font-size: 22px;
	font-family: "HelveticaNeueCyrBlack", sans-serif;
	color: rgb(252, 252, 252);
	text-transform: uppercase;
	border-radius: 17px
	margin 0 auto
	letter-spacing: 1px;
.authors_title 
	font-size: 18px;
	font-family: "HelveticaNeueCyrBold", sans-serif;
	font-weight: normal
	color: rgb(27, 27, 31);
	text-transform: uppercase;
	line-height: 1.3
	margin: 37px 0 3px
.authors
	font-size: 20px;
	font-family: "HelveticaNeueCyrBoldItalic", sans-serif;
	color: rgb(27, 30, 36);
	line-height: 1.5;
	span
		color #a11d38
.button_main
	margin 69px auto 96px
#alex_main
	position: absolute
	top auto
	bottom: -18px;
	left: -317px;
	z-index: -1
#janna_main
	position: absolute
	top auto
	bottom: -3px;
	right: -312px;
	z-index: -1