section#plan
    width: 100%
    padding 94px 0 113px
    background-image url(../img/body_bg.jpg)
    background-repeat no-repeat
    background-position center
    background-attachment fixed
    background-size cover
    .after_subtitle_black
        margin-top: 8px
#plan_container
    margin-top: 75px
.day
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10.92px 2.08px rgba(11, 11, 10, 0.15);
    margin-bottom: 25px
    padding 22px 35px
.day_fifth
    margin-bottom: 0
.day_title
    display: table
    width 100%
.day_img
    display: table-cell
    vertical-align: middle
    width: 99px
    height 99px
    background-image url(../img/day_icons.png)
    background-repeat no-repeat
    background-position 0 0
.day_img_second
    background-position -99px 0
.day_img_third
    background-position -198px 0
.day_img_fourth
    background-position -297px 0
.day_img_fifth
    background-position -396px 0
.day_title_container
    display: table-cell
    vertical-align: middle
    padding-left: 50px
.day_inner_title
    font-size: 24px;
    font-family: "HelveticaNeueCyrBlack", sans-serif;
    font-weight: normal
    color: rgb(27, 27, 31);
    line-height: 1.292;
    margin-bottom: 5px
.day_inner_subtitle
    font-size: 18px;
    font-family: "HelveticaNeueCyrBold",sans-serif;
    color: rgb(27, 27, 31);
    line-height: 1.3;
    font-weight: normal
.day_toggle
    display: table-cell
    vertical-align: middle
    width: 160px
.day_toggle_trigger
    font-size: 16px;
    font-family: "HelveticaNeueCyrItalic", sans-serif;
    color: rgb(27, 27, 31);
    text-decoration: underline;
    line-height: 1.2
    cursor pointer
    &:hover
        color #edc40e
.day_body
    display: none
    padding-top: 58px
.day_list
    padding-left: 37px
    list-style: none
    li
        font-size: 16px;
        font-family: "HelveticaNeueCyrLight", sans-serif;
        line-height: 1.6
        margin-bottom: 16px
        color: rgb(27, 27, 31);
        padding-left: 25px
        background-image url(../img/red_dot.png)
        background-repeat no-repeat
        background-position 0 9px
    .coach_bonus
        font-family: "HelveticaNeueCyrBold", sans-serif;
        text-transform: uppercase
        color #981d37