#reach
    width: 100%
    padding: 92px 0 128px
    background-image url(../img/reach_bg.jpg)
    background-repeat no-repeat
    background-position: center
    background-size: cover
.all_reaches
    margin-top: 40px
    overflow hidden
.left_reach_col
    float left
    width: 30%
.right_reach_col
    width: 26%
    float: right 

.reach
    margin-bottom: 31px
.reach_title_container
    display: table
.reach_img
    display: table-cell
    vertical-align: middle
    height 54px
    width: 54px
    background-image url(../img/reach_icons.png)
    background-repeat no-repeat
    background-position: 0 0
.reach_img_second
    background-position -54px 0
.reach_img_third
    background-position -108px 0
.reach_img_fourth
    background-position -162px 0
.reach_img_fifth
    background-position -216px 0
.reach_img_sixth
    background-position -270px 0
.reach_img_seventh
    background-position -324px 0
.reach_img_eighth
    background-position -378px 0
.reach_img_nineth
    background-position -432px 0
.reach_img_tenth
    background-position -486px 0
.teach_title
    display: table-cell
    vertical-align: middle
    font-size: 18px;
    font-family: "HelveticaNeueCyrBlack", sans-serif;
    font-weight: normal
    margin 0
    color: rgb(253, 253, 255);
    line-height: 1.722;
    padding-left: 20px
.reach_desc
    font-size: 16px;
    font-family: "HelveticaNeueCyrRoman", sans-serif;
    color: rgba(253, 253, 255, 0.6);
    line-height: 1.563;
    margin 2px 0 0
.button_reach
    margin-top: 47px
.offset-3
    margin-left: 13.6%;
.offset-2
    margin-left: 7.8%;