#jannas_reveiws
    width: 100%
    padding 100px 0 90px
    background: #C2203F
    background-image: radial-gradient( 50% 50%, circle closest-side, rgb(190,74,98) 0%, rgb(156,21,49) 100%);
    .subtitle
    .after_subtitle
        text-align: left
    .after_subtitle
        &:after
            margin-left: 0
#alexs_reveiws
    width: 100%
    padding 100px 0 90px
    background: #161B22
    background-image: radial-gradient( 50% 50%, circle closest-side, rgb(55,60,65) 0%, rgb(22,24,30) 100%);
    .subtitle
    .after_subtitle
        text-align: left
    .after_subtitle
        &:after
            margin-left: 0
#jannas_videos
#alexs_videos
    margin 49px auto 67px
    .owl-nav
        width: 105.3%
        left -30px
        top 36%
    img
    iframe
        border-radius: 10px;
        box-shadow: 0px 0px 10.92px 2.08px rgba(11, 11, 10, 0.15);
#jannas_texts
#alexs_texts
    max-width: 944px
    margin 0 auto
    .owl-nav
        width: 106.5%
        left -30px
        top 22%
    img
        border-radius: 10px;
        box-shadow: 0px 0px 10.92px 2.08px rgba(11, 11, 10, 0.15);
#jannas_texts
    .owl-height
        min-height: 136px
#alexs_texts
    .owl-height
        min-height: 142px
    .owl-nav
        top 24%