section#why
    width: 100%
    padding 88px 0 340px
    position relative
    background-image url(../img/why_bg.jpg)
    background-repeat no-repeat
    background-position: center
    background-size: cover
    .subtitle
    .after_subtitle
        text-align: left
    .after_subtitle
        &:after
            margin-left: 0
.reason
    margin-bottom: 46px
    &:first-child
        margin-top: 11px
.reason_title
    font-size: 18px;
    font-family: "HelveticaNeueCyrBlack", sans-serif;
    color: rgb(250, 67, 106);
    line-height: 1.722;
    font-weight: normal
    margin-bottom: 2px
.reason_descript
    font-size: 16px;
    font-family: "HelveticaNeueCyrRoman", sans-serif;
    color: #bbbdc0;
    line-height: 1.563;
    margin-bottom: 17px
    span
        color #fcfdfe
        font-family: "HelveticaNeueCyrBold", sans-serif;
#prices
    max-width 701px
    background-color #fff
    border 11px solid #fddb1f
    padding: 33px 20px 40px
    border-radius: 10px
    text-align: center
    margin 0 auto
    position: absolute
    left 0
    right 0
    bottom: -370px
.price
    font-size: 20px;
    font-family: "HelveticaNeueCyrBold", sans-serif;
    color: rgb(27, 27, 31);
    line-height: 1.55;
    margin-bottom: 10px
    span
        font-family: "HelveticaNeueCyrBlack", sans-serif;
        font-size: 24px
#sale
    color #e6be1a
#today
    color #981d37
.right_now
    font-size: 30px;
    font-family: "HelveticaNeueCyrRoman", sans-serif;
    color: rgb(27, 27, 31);
    line-height: 1
.timer
    h4
        font-size: 30px;
        font-family: "HelveticaNeueCyrBold", sans-serif;
        color: rgb(27, 27, 31);
        line-height: 1
        margin 30px 0 20px
.flip-clock-wrapper
    width: 100%
.prepay
    font-size: 24px;
    font-family: "HelveticaNeueCyrBold", sans-serif;
    color: rgb(27, 27, 31);
    line-height: 1
    margin-top: 25px