@media screen and (min-width 2400px)
	.container
		width: 1400px
	.contacts a .fa+span
	.after_subtitle
	.reach_desc
	.day_toggle_trigger
	.day_list li
	.reason_descript
	.coach_about_descript
	.coach_about_list li
		font-size: 22px
	.pre
	.authors
	.date_start
	.day_inner_title
	.price
	.coach_about_subtitle
	#footer h5
		font-size: 26px
	h2
	.authors_title
	.button
	.contacts a .fa
	.teach_title
	.day_inner_subtitle
	.reason_title
		font-size: 24px
	#reach
		background-position: center -339px;
	.left_reach_col
		width: 26%
	.day_toggle
		width 225px
	.right_now
		margin-top: 40px
	.alex_about
		margin-top: 151px
	#footer #conditions, #footer p
		font-size: 20px
	.soc_buttons a .fa
		width: 50px
		height 50px
		line-height 50px
		font-size: 28px
@media screen and (max-width 1199px)
	#header
		margin-bottom: 40px
	.contacts a .fa
		margin: 0 8px 0 15px
	h1
		margin-bottom: 50px
	#alex_main
		left -417px
	#janna_main
		right -412px
	.alex_col
		img
			width: 96%
	.alex_about
		margin-top: 77px;
@media screen and (max-width 991px)
	#header
		padding: 15px 0
		margin-bottom: 30px
	#logo
		float: none
		display block
		margin 0 auto 10px
	.contacts
		float: none
		text-align: center
		a
			display: inline-block
			margin-bottom: 5px
	#alex_main
		left -451px
	#janna_main
		right -451px
	.authors
		max-width 30%
		margin 0 auto
	.date_start
		width: 300px
	#reach
		padding 60px 0 90px
		background-image: none
		background-color #2E3136
	.left_reach_col
	.right_reach_col
	.offset-3
	.offset-2
		width: 100%
		float: none
		max-width 480px
		margin 0 auto
	.left_reach_col
	.right_reach_col
		padding 0 15px
	.reach
		margin-bottom: 45px
	.reach_title_container
		display block
	.reach_img
		display block
		margin 0 auto 20px
	.teach_title
		display block
		padding-left: 0
		text-align: center
	.reach_desc
		text-align: center
	#plan
		padding 60px 0 90px
	#why
		padding-top: 60px
	.jannas_col
		img
			width: 96%
	.day_toggle_trigger
		text-align: right
	.day_list
		padding-left: 0
	#coaches
		padding: 420px 0 60px
	.jannas_col
		float: none
		img
			max-width 480px
			margin 0 auto
			display block
	.alex_col img
		max-width 480px
		margin 0 auto
		display block
	.owl-nav
		width: 103.5%;
	.alex_about
		padding-left: 0
@media screen and (max-width 767px)
	#main_section
		padding-bottom: 60px
	#alex_main
	#janna_main
		display: none
	.authors
		max-width: none
	.button_main
		margin: 40px auto 0
	#why
		background-image none
		background-color: #2E3136
	#prices
		width: 96%
	.owl-nav
		position: static
		width: 150px
		margin 0 auto
	.day
		min-height 100px
	.day_img
		display: none
	.day_title_container
		padding-left: 0
		display block
	.day_toggle
		display block
		margin-top: 20px
	.day_toggle_trigger
		text-align: left
	.day_body
		padding-top: 30px